<html>
	<head>
		<title>Hood</title>
        <meta charset="utf-8" />
        <!--  Meta tags for sharing -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<!-- Include Script -->
        <!-- Theme CSS -->
        <link rel="stylesheet" href="/css/mainTheme.css">
        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
        <base href="/">
        
	</head>
	<body ng-app="mainApp">
        <div ng-controller="homeCtrl">
            
            <!-- Pop-up to input score -->
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                  </div>
                  <div class="modal-body">
                    <p>Some text in the modal.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
            
            <!-- Navbar -->
            <div class="navbar navbar-default navbar-fixed-top" id="navBar" ng-show="isLoggedIn" >
                <div class="container" >

                    <button class="navbar-toggle navbar" data-toggle="collapse" data-target=".navHeaderCollapse" style="background-color:#FFF;">
                        <span class="icon-bar" style="background-color:#FFF;"></span>
                        <span class="icon-bar" style="background-color:#FFF;"></span>
                        <span class="icon-bar" style="background-color:#FFF;"></span>
                        <span class="icon-bar" style="background-color:#FFF;"></span>

            </button>
                    <div class="navbar-header">
                        <a class="navbar-brand nav" href="/"><strong>Hood</strong></a>
                    </div>
                    <div class="collapse navbar-collapse navHeaderCollapse" >
                        <ul class="nav navbar-nav navbar-right navbar-brand" ng-show="true">
                            <li class="nav"><a href="/profile" style="font-size:14px">{{loggedInUser.name}}</a></li>
                            <li class=""><a href="/team" style="font-size:14px">My Team</a></li>
                            <li class=""><a href="/match" style="font-size:14px" ng-click="addScore()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
                            <li class=""><a href="/login" ng-click="logout()"><facebook-login-button></facebook-login-button>
        </a></li>
                        </ul>
                    </div>

                </div>

            </div>
            
            
            <div class="">
                <br/><br/><br/><br/><br/>

                <!--			 Code Below - Angular Routing for Templating		-->
                <div  ng-view="" >
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer" style="background-color:#222;">
            <div class="container" align="middle">
                <p class="text-muted">
                    <p class="" valign="middle" style="color:#FFF;">
                        <strong>Made with &nbsp;<span class="glyphicon glyphicon-heart" aria-hidden="true"></span></strong>

                    </p>
                </p>
            </div>
        </footer>
        <!-- Closing Scripts -->
        <!-- Latest compiled and minified JavaScript -->
        <!--
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"  crossorigin="anonymous"></script>
        -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/angular.min.js"></script>
        <script src="/js/angular-route.min.js"></script>
        <script src="/js/angular-ui-router.min.js"></script>
        <script src="/js/angular-cookies.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

        <!-- Include Angular Scripts -->
        <script src="/scripts/app.js"></script>
        <script src="/scripts/controller/loginCtrl.js"></script>
        <script src="/scripts/controller/feedCtrl.js"></script>
        <script src="/scripts/controller/profileCtrl.js"></script>
        <script src="/scripts/controller/teamCtrl.js"></script>
        <script src="/scripts/controller/matchCtrl.js"></script>
        <!-- FB SDK -->
        <script src="bower_components/angularFacebookUtils/src/facebookUtils.min.js"></script>

	</body>
</html>
