<style>
.teamRow {
        font-size:10px;
        background:#FFF;
        margin-bottom: 5px;
        margin-top: 5px;
    }
	.teamRow:hover {
        background: #FFF;
        text-decoration:none;
        box-shadow: 0px 0px 10px #888888;
        border-left: 3px solid #123;
    }
</style>
<div>
	<div class="container">
		
		<div class="row" align="middle" ng-show="matchSelection">
			<br/><br/><br/>
			<div class="col-sm-5 box btn" style="" ng-click="getTeams(0)">
				<br/><br/><br/>
				<img src="/images/png/Briefcase.png"><br/><br/>
				<h4>Team to Play next</h4><br/>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-5 box btn" style="">
				<br/><br/><br/>
				<img src="/images/png/box.png"><br/><br/>
				<h4>Take the Challenge to the Next level</h4><br/>
			</div>
			
		</div>
        
        <div class="row" align="middle" ng-show="matchSelection" ng-click="getTeams(1)">
            <div ng-repeat = "team in teams" class="teamRow">
                <a href="/team/{{team._id}}">{{team.name}}</a><br/>
            </div>
        </div>
	</div>
</div>